{
  "type": "abcdef",
  "project_id": "abcdef",
  "private_key_id": "abcdef",
  "private_key": "abcdef",
  "client_email": "abcdef",
  "client_id": "abcdef",
  "auth_uri": "abcdef",
  "token_uri": "abcdef",
  "auth_provider_x509_cert_url": "abcdef",
  "client_x509_cert_url": "abcdef",
  "universe_domain": "abcdef"
}
