.DocItem {
  border: 0.5px solid #ececec;
  padding: 8px;
  margin: 4px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DocItem svg {
  width: 20px;
}

.editButton {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 0.5px solid #ccc;
  cursor: pointer;
  transition: 0.1s;
}

.editButton:active {
  transform: scale(0.95);
}
